body {
    height: 300vh;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

table.formulir{
    text-align: left;
    margin-left: 30%;
}

.wrap{
    background: tan;
    padding: 25px 0;
    width: 65%;
    margin-left: 18%;
    border: 2px solid chocolate;
    font-family: Arial;
    font-size: 14px;
}  