body {
    height: 300vh;
    text-align: center;
    width: 70%;
    padding: 0px;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    min-width: 500px;
       
  }
  
  header {
    height: 400px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1469026140142-cb239ea68152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: bottom;
    font-weight: bold;
    top: 0;
  }

  a:visited {
    color: black;
  }

  .banner {
    background-color: rgba(255, 151, 33, 0.5);
    padding: 3px 0;
    color: black;
     
  }
  
  li{
      display: inline-block;
      padding: 0 30px;
      
  }
  
  .main2 {
    border-bottom: solid 1px rgb(255, 151, 33);
    
  }
  
  .personil{
    height: 150px;
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    
  }

  a {
    text-decoration: none;
  }

  footer {
    position: fixed;
    bottom: 10px;
    right: 200px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 151, 33, 0.5);
    padding: 5px 0 0 0;
  }

  table.formulir{
    text-align: left;
    margin-left: 30%;
}

.wrap{
    background: tan;
    padding: 25px 0;
    width: 65%;
    margin-left: 18%;
    border: 2px solid chocolate;
    font-family: Arial;
    font-size: 15px;
} 