header {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 10;
    background-image: url(https://images.unsplash.com/photo-1469026140142-cb239ea68152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-position: center;    
    height: 500px;
}

h1 {
    width: 80%;
    border: solid 1px red;
    z-index: 10;
    top: 0;
    text-align: center;
    margin: 0 auto;
}


nav {
    width: 80%;
    top: 40px;
    border: solid red 1px;
    z-index: 10;
    
    margin: 0 Auto;
    }

ul {
    margin: 0 70px;
}

li {
    display: inline-block;
    width: 200px;
    height: 40px;
    border: solid 1px red;
    list-style: none;
    text-align: center;
    }

main {
    position: absolute;
    top: 450px;
    display: block;
    padding: 50px;

}
.personil {
    margin: 40px auto;
    border: solid 1px red; 
    text-align: center; 
}

.profil {
    width: 80%;
    margin: 0 auto;
}

.back {
    display: block;
    right: 0;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: aqua;
    border: solid 1px red;
}